
/ {
	chosen {
        zephyr,console = &usart1;
		zephyr,shell-uart = &usart1;
		//zephyr,console = &cdc_acm_uart0;
		//zephyr,shell-uart = &cdc_acm_uart0;
		zephyr,code-partition = &boot_partition;
    };
	aliases {
		mcuboot-button0 = &button0;
		mcuboot-led0 = &led0;
	};

	gpio_keys {
		compatible = "gpio-keys";
		button0: button0 {
			label = "SW1";
			gpios = <&gpioa 0 GPIO_ACTIVE_HIGH>; // uart2rx
			zephyr,code = <INPUT_KEY_0>;
		};
	};

	leds {
		compatible = "gpio-leds";

		led0: led0 {
			gpios = <&gpiod 13 GPIO_ACTIVE_HIGH>;
			label = "Boot LED";
		};
	};

	// cdc_ncm_eth0: cdc_ncm_eth0 {
	// 	compatible = "zephyr,cdc-ncm-ethernet";
	// 	remote-mac-address = "00005E005301";
	// };
};

&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		// the bootstrapper goes here
		// boot_partition labeled mcuboot at 0 with size 32K
		boot_partition: partition@0 {
			label = "mcuboot";
			reg = <0x00000000 DT_SIZE_K(64)>;
		};
		// the app image goes here
		slot0_partition: partition@20000 {
			label = "image-0";
			reg = <0x00020000 DT_SIZE_K(256)>;
		};
		slot1_partition: partition@60000 {
			label = "image-1";
			reg = <0x00060000 DT_SIZE_K(256)>;
		};
		/* Use last half of flash for the filesystem. */
		lfs1_partition: partition@E0000 {
			label = "storage";
			reg = <0xE0000 DT_SIZE_K(128)>;
		};
		// we don't have room for a slot1 with this app
		// Reserve 16kB of storage at the end of the 256kB
		// storage_partition: partition@3c000 {
		// 	label = "storage";
		// 	reg = <0x0003c000 DT_SIZE_K(16)>;
		// };
	};
};


&zephyr_udc0 {
    cdc_acm_uart0: cdc_acm_uart0 {
        compatible = "zephyr,cdc-acm-uart";
    };
};

&usart1 {
	pinctrl-0 = <&usart1_tx_pb6 &usart1_rx_pb7>;
	pinctrl-names = "default";
	current-speed = <115200>;
	status = "okay";
};


